* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 3000px;
    width: 900px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F5F5;
}
.rec {
    position: absolute;
    width: 1366px;
    height: 650px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #007CD4 0%, rgba(0, 124, 212, 0.7) 100%);
} 
.bg-img {
    position: absolute;
    width: 1366px;
    height: 650px;
    left: 0px;
    top: 0px;
    background-image: url("image/image 2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(4px);  */
}
.c1 {
    margin-top: 33.9em;
}
#c2 {
    margin-top: -15.8em;
}
.logo {
    position: relative;
    width: 226.09px;
    height: 35px;
    left: 128px;
    top: 20.5px;
    margin-left: -4em;
    cursor: pointer;
    margin-top: -42.7em;
}
.logo #Vector {
    width: 226.09px;
}
ul {
    display: flex;
    list-style-type: none;
    margin-left: 42.2em;
    margin-top: -2.5em;
    font-weight: 400;
}
li a {
    text-decoration: none;
    color: #FFFFFFB2;
    padding: 15px 15px 15px 15px;
    font-style: normal;
    line-height: 41px
}
li {
    font-size: 14px;
}
.consult {
    color: white !important;
    margin-left: 6.5em;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin-top: .13em;
}
.blue {
    color: #17A1FA;
    font-size: 28px;
}
/* .blue:hover {
    font-size: 28px;
} */
#under a {
    text-decoration: underline;
    font-weight: 700;
    color: white !important;
}
.title {
    font-size: 64px;
    cursor: auto;
    position: absolute;
    width: 574px;
    height: 144px;
    left: 30px;
    top: 175px;
    line-height: 72px;
    color: #1182D3;
    font-weight: 700;
    -webkit-text-stroke: 1px #FFFFFF;;
    mix-blend-mode:lighten;
} 
.title2 {
    color: white;
}
#text {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    position: absolute;
    width: 574px;
    height: 84px;
    left: 37px;
    color: rgba(255, 255, 255, 0.8);;
    top: 358px;
    cursor: auto;
}
.line {
    position: absolute;
    width: 13px;
    height: 0px;
    left: 966px;
    top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(90deg);
}
.box {
    position: absolute;
    width: 472px;
    height: 449px;
    left: 750px;
    top: 105px;
    background: linear-gradient(180deg, #3FA9F5 0%, rgba(63, 169, 245, 0.5) 100%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin-right: -5em;
    cursor: auto;
}
.skell {
    width: 162px;
    height: 35px;
    left: 995px;
    top: 180px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left: 5.5em;
    margin-top: 2em;
}
#fname {
    /* position: absolute; */
    width: 205px;
    height: 48px;
    left: 1084px;
    top: 247px;
    background: #3FA4ED;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    margin-left: 1.9em;
    margin-top: 37px;
    color: white;
}
:-ms-input-placeholder {
    color: #FFFFFFB2;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
::-ms-input-placeholder {
color: #FFFFFFB2;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
}
::placeholder {
    color: #FFFFFFB2;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
#lname {
margin-left: 1.1em;    
margin-top: 2.8em;    
width: 205px;
height: 48px;
color: white;
left: 1084px;
top: 247px;
background: #3FA4ED;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 2px;
}
#emails {
    margin-left: -31.9em;
    margin-top: 8em;
    width: 205px;
    height: 48px;
    left: 868px; 
    color: white;
    top: 311px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}
#company {
    width: 205px;
    margin-left: 15px;
    margin-top: 8em;
    color: white;
    height: 48px;
    left: 1084px;
    top: 311px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}
#country {
width: 26.5rem;
margin-top: 13.3em;
margin-left: -31.8em;
height: 48px;
left: 868px;
top: 375px;
background: rgba(255, 255, 255, 0.04);
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 2px;
color: white;
}
option {
    background-color: #007CD4;
    display: flex;
    letter-spacing: normal;
    flex-flow: nowrap;
}
form {
    display: flex;
    flex-flow: nowrap;
}
input[type=button], input[type=submit] {
width: 221px;
height: 56px;
left: 966px;
top: 464px;
background: #3FA9F5;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
color: white;
font-size: 18px;
font-weight: 700;
cursor: pointer;
border: transparent;
margin-top: 2em;
margin-left: 6.6em;
line-height: 21.94px;
border-radius: 4px;
}
.vec {
margin-left: 10.8em;
margin-top: -2.4em;
left: 8.33%;
right: 4.17%;
top: 11.5%;
bottom: 12.5%;
display: flex;
}
.main {
width: 250px;
height: 175px;
display: flex;
flex-flow: nowrap;
margin-left: -44em;
margin-top: 15em;
cursor: pointer;
left: 128px;
border-radius: 8px;
top: 712px;
border-radius: 8px;
}
.main2 {
    margin-left: 2.2em;
    border-radius: 8px;
}
.main3 {
    margin-left: 2.2em;
    border-radius: 8px;
}
#m1 {
    border-radius: 8px;
}
.un-header {
width: 344px;
height: 46px;
left: 128px;
top: 974px;
font-weight: 700;
font-style: normal;
font-size: 34px;
line-height: 46px;
margin-left: -20.6em;
margin-top: 1.7em;
display: flex;
}
.un-h {
color:#333333;
cursor: auto;
}
.grey {
-webkit-text-stroke: 1px #333333;
-webkit-text-fill-color: white;
cursor: auto;
}
.t1 {
width: 371px;
height: 168px;
left: 128px;
margin-left: -54em;
margin-top: 18px;
top: 1052px;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 24px;
/* or 171% */
color: #333333;
}
.t2 {
width: 371px;
height: 168px;
left: 535px;
margin-top: -13.1em;
margin-left: -23em;
top: 1052px;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 24px;
/* or 171% */
color: #333333;
}
.t3 {
width: 371px;
height: 96px;
left: 941px;
top: 1052px;
margin-top: -13em;
margin-left: 7em;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 24px;
/* or 171% */
color: #333333;
}
.percent {
width: 348px;
height: 52px;
left: 941px;
top: 1158px;
border: 2px solid #3FA9F5;
border-radius: 4px;
display: flex;
cursor: pointer;
margin-left: 6.8em;
margin-top: 1.3em;
}
.percent-text {
    color: #3FA9F5;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    margin-left: 6em;
    margin-top: .5em;
/* identical to box height, or 156% */
}
.per-icon {
width: 17px;
height: 12.73px;
left: 1206px;
top: 1178.64px;
margin-top: 1.3em;
margin-left: .5em;
}
.line_th {
width: 787px;
height: 0px;
display: flex;
left: 499px;
top: 996px;
border: 1px solid #EAEAEA;
margin-left: -22em;
margin-top: -12.7em;
}
.cont {
    display: flex;
}
.page {
    background-color: white;
    height: 1000px;
    width: 10px;
    margin-left: -60em;
    margin-top: 13em;
}

.coe {
width: 270px;
height: 270px;
left: 210px;
top: 1320px;
margin-top: -87em;
display: flex;
margin-left: -38.6em;
}
.box2 {
width: 675px;
height: 269px;
margin-left: -19em;
margin-top: -87em;
left: 535px;
top: 1320px;
display: flex;
background: #007CD4;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
}
.ico-l {
width: 24.24px;
height: 40px;
display: flex;
margin-left: -45em;
margin-top: -79em;
left: 164.24px;
top: 1474px;
cursor: pointer;
}
.icol {
width: 60px;
height: 47px;
left: 1085px;
top: 1358px;
margin-left: 34em;
margin-top: 2em;
}
.m_para {
width: 545px;
height: 112px;
left: 600px;
top: 1432px;
font-size: 18px;
font-weight: normal;
font-style: italic;
line-height: 28px;
/* or 156% */
color: #FFFFFF;
margin-top: 6.7em;
margin-left: -30.2em;
}
.name {
width: 545px;
height: 34px;
left: 600px;
top: 1382px;
font-style: normal;
font-size: 24px;
line-height: 34px;
/* identical to box height, or 142% */
color: #FFFFFF;
font-weight: 700;
margin-left: -22.5em;
margin-top: 1.9em;
}
.icol2 {
width: 24.24px;
display: flex;
height: 40px;
left: 1275.76px;
top: 1434px;
margin-left: 28em;
cursor: pointer;
margin-top: -9em;
}
.el {
display: flex;
width: 16px;
height: 16px;
left: 660px;
top: 1653px;
margin-top: 11em;
margin-left: -12em;
}
.el2 {
display: flex;
width: 16px;
height: 16px;
left: 712px;
top: 1653px;
margin-left: -8em;
margin-top: -1em;
}
.el3 {
width: 16px;
display: flex;
height: 16px;
left: 764px;
top: 1653px;
margin-top: -1em;
margin-left: -4em;
}
.m-cont {
    background-color: white;
    height: 1366px;
    width: 1395px;
    display: flex;
    margin-top: 13em;
    margin-left: -53em;
}
.n-text {
display: flex;
font-weight: 700;
font-size: 29px;
line-height: 46px;
}
.wco {
width: 625px;
height: 46px;
left: 128px;
top: 1769px;
display: flex;
margin-top: 3em;
margin-left: -25em;
color: #333333;
}
.wh_we {
    -webkit-text-stroke: 1px #333333;
    display: flex;
    -webkit-text-fill-color: white;
    margin-left: 1em;
    padding-right: 12px;
}
.p1 {
display: flex;
width: 371px;
height: 84px;
left: 128px;
top: 1847px;
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */
color: #333333;
margin-left: -39em;
margin-top: 1.5em;
}
.lg {
    font-weight: bold;
    color: #333333;
}
.lh {
width: 371px;
display: flex;
height: 168px;
left: 535px;
top: 1847px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */
color: #333333;
margin-left: -24em;
margin-top: -6.4em;
}
.lf {
width: 371px;
height: 168px;
left: 942px;
top: 1847px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */
color: #333333;
margin-left: 5em;
margin-top: -12em;
}
.line_th2 {
width: 532px;
height: 0px;
left: 780px;
top: 1792px;
display: flex;
border: 1px solid #EAEAEA;
margin-top: -13.4em;
margin-left: -11em;
}
.rec_blue {
width: 371px;
height: 96px;
left: 128px;
top: 2051px;
border: 2px solid #3FA9F5;
display: flex;
cursor: pointer;
border-radius: 4px;
margin-left: -44em;
margin-top: 16em;
}
.rec_text {
font-weight: 700;
width: 299px;
height: 96px;
left: 164px;
top: 2051px;
font-style: normal;
font-size: 18px;
line-height: 28px;
/* or 156% */
display: flex;
align-items: center;
text-align: center;
color: #333333;
margin-left: 5.2em;
}
.rec_text2 {
width: 299px;
height: 96px;
left: 571px;
top: 2051px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
/* or 156% */
display: flex;
align-items: center;
text-align: center;
color: #333333;
margin-left: 4.3em;
}
.rec_text3 {
width: 299px;
height: 96px;
left: 978px;
top: 2051px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
/* or 156% */
display: flex;
align-items: center;
text-align: center;
color: #333333;
margin-left: 3.3em;
}
.rec_blue2 {
width: 371px;
height: 96px;
left: 535px;
top: 2051px;
border: 2px solid #3FA9F5;
border-radius: 4px;
cursor: pointer;
margin-left: -20em;
display: flex;
margin-top: -6em;
}
.rec_blue3 {
width: 371px;
height: 96px;
left: 942px;
top: 2051px;
border: 2px solid #3FA9F5;
cursor: pointer;
border-radius: 4px;
margin-left: 4em;
display: flex;
margin-top: -6em;
}
.rec_blue4 {
width: 371px;
height: 96px;
left: 128px;
top: 2183px;
border: 2px solid #3FA9F5;
cursor: pointer;
display: flex;
border-radius: 4px;
margin-left: -44em;
margin-top: 2em;
}
.rec_text4 {
width: 299px;
height: 96px;
left: 164px;
top: 2183px;
font-style: normal;
font-weight: bold;
cursor: pointer;
font-size: 18px;
line-height: 28px;
/* or 156% */
display: flex;
align-items: center;
text-align: center;
color: #0095FF;
margin-left: 4.2em;
}
.rec_blue5 {
width: 371px;
height: 96px;
left: 535px;
top: 2183px;
border: 2px solid #3FA9F5;
box-sizing: border-box;
border-radius: 4px;
margin-left: -20em;
cursor: pointer;
margin-top: -6em;
}
.rec_text5 {
width: 299px;
height: 96px;
left: 571px;
top: 2183px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
/* or 156% */
display: flex;
align-items: center;
text-align: center;
color: #333333;
margin-left: 3.9em;
}
.rec_blue6 {
width: 371px;
height: 96px;
left: 942px;
top: 2183px;
border: 2px solid #3FA9F5;
border-radius: 4px;
margin-left: 4em;
margin-top: -6em;
cursor: pointer;
}
.rec_text6 {
width: 299px;
height: 96px;
left: 978px;
top: 2183px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
/* or 156% */
display: flex;
align-items: center;
text-align: center;
color: #333333;
margin-left: 5em;
}
.vec8 {
display: flex;
left: 45.83%;
right: 45.83%;
cursor: pointer;
top: 29.17%;
bottom: 29.17%;
background: #0095FF;
margin-left: -26em;
margin-top: -3.4em;
}
.rec_blue:hover {
    background-color: #0095FF;
    color: white;
}
.rec_text:hover {
    color: white;
}
.rec_blue2:hover  {
    background-color: #0095FF;
    color: white;
}
.rec_text2:hover {
    color: white;
}
.rec_blue3:hover {
    background-color: #0095FF;
    color: white;
}
.rec_text3:hover {
    color: white;
}
.rec_blue4:hover {
    background-color: #0095FF;
    color: white;
}
.rec_text4:hover {
    color: white;
}
.rec_blue5:hover {
    background-color: #0095FF;
    color: white;
}
.rec_text5:hover {
    color: white;
}
.rec_blue6:hover {
    background-color: #0095FF;
    color: white;
}
.rec_text6:hover {
    color: white;
}
.vec8:hover {
    color: white;
}
.percent:hover {
background-color: white;
}
a:hover {
    color: white;
}
.footer {
    display: flex;
}
.f01 {
display: flex;
}
.f02 {
display: flex;
}
.f3 {
display: flex;
width: 708px;
height: 648px;
left: 685px;
top: 2349px;
z-index: ;
margin-left: -10em;
margin-top: -40.5em;
}
.f1 {
display: flex;
width: 779px;
height: 648px;
left: 1px;
/* background-color: black; */
margin-left: -46em;
margin-top: 8em;
z-index: 0;
top: 2379px;
}
.f2 {
display: flex;
width: 735px;
height: 648px;
left: 0px;
top: 2379px;
margin-top: 8em;
z-index: 1;
margin-left: -52.1em;
}
.f4 {
display: flex;
width: 709px;
height: 647px;
left: 100.12px;
top: 2378px;
margin-left: -10.1em;
margin-top: -40.5em;
z-index: ;
}
.ico_e {
display: flex;
}
.base-icon {
width: 208px;
height: 208px;
display: flex;
left: 976px;
top: 2599px;
margin-top: -28.8em;
margin-left: 7em;
}
.pre-icon {
display: flex;
width: 120.54px;
height: 120.54px;
left: 1019.73px;
top: 2642.73px;
margin-top: -26em;
margin-left: -10.4em;
cursor: pointer;
}
.m-icon {
display: flex;
width: 30.59px;
height: 34.37px;
left: 1065px;
top: 2686px;
margin-top: -23.2em;
margin-left: -4.4em;
cursor: pointer;
}
.last-icon {
display: flex;
width: 226.09px;
height: 35px;
left: 1178px;
top: 2956px;
margin-top: -4em;
cursor: pointer;
margin-left: 4em;
}
.t-content {
display: flex;
}
.c-heading {
display: flex;
font-weight: 700;
font-style: normal;
font-size: 44px;
line-height: 52px;
width: 443px;
height: 52px;
left: 128px;
margin-top: -13em;
margin-left: -16.3em;
color: white;
z-index: 1;
top: 2473px;
}
.w-start {
padding-right: .2em;
-webkit-text-stroke: 1px white;
-webkit-text-fill-color: #0190F6;
}
.i-content {
display: flex;
}
.i1 {
display: flex;
width: 17.6px;
height: 13.4px;
left: 128px;
top: 2579px;
margin-top: -29em;
margin-left: -44.6em;
z-index: 1;
}
.i2 {
display: flex;
width: 17.6px;
height: 13.4px;
left: 128px;
top: 2579px;
margin-top: -19em;
margin-left: -1em;
z-index: 1;
}
.i3 {
display: flex;
z-index: 1;
width: 17.6px;
height: 13.4px;
left: 128px;
top: 2844px;
margin-top: -10em;
margin-left: -.9em;
}
.p-content {
display: flex;
}
.heading1 {
display: flex;
z-index: 1;
color: white;
width: 430px;
height: 32px;
left: 170px;
top: 2573px;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
margin-left: -27em;
margin-top: -19.8em;
}
.p-1 {
display: flex;
z-index: 1;
width: 430px;
height: 84px;
left: 170px;
top: 2613px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
/* or 156% */
color: rgba(255, 255, 255, 0.8);
margin-top: -24.5em;
margin-left: -23.9em;
}
.heading2 {
display: flex;
z-index: 1;
width: 430px;
height: 32px;
left: 170px;
top: 2719px;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
/* #FFFFFF */
color: #FFFFFF;
margin-left: -17.9em;
margin-top: -13.1em;
}
.p-2 {
display: flex;
z-index: 1;
width: 430px;
height: 56px;
left: 170px;
top: 2759px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
/* or 156% */
color: rgba(255, 255, 255, 0.8);
margin-top: -15.5em;
margin-left: -23.9em;
}
.heading3 {
display: flex;
z-index: 1;
width: 430px;
height: 32px;
left: 170px;
top: 2838px;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
/* #FFFFFF */
color: #FFFFFF;
margin-top: -7em;
margin-left: -18em;
}
.p-3 {
display: flex;
z-index: 1;
width: 430px;
height: 56px;
left: 170px;
top: 2878px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
/* or 156% */
color: rgba(255, 255, 255, 0.8);
margin-top: -7em;
margin-left: -23.9em;
}
.f-bottom {
display: flex;
z-index: 1;
background-color: #EAEAEA;;
height: 70px;
width: 1425px;
margin-left: -55em;
}
.fp1 {
display: flex;
z-index: 1;
width: 371px;
height: 24px;
left: 128px;
top: 3065px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
color: #757575;
margin-left: 11em;
margin-top: 1.8em;
}
.fp2 {
display: flex;
z-index: 1;
width: 283px;
height: 24px;
left: 1030px;
top: 3065px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
text-align: right;
color: #757575;
margin-top: 1.8em;
margin-left: 36em;
}